:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumbnail: 50px;
  --font-size: 18px;

  /* animation */
  --annimation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: transform var(--annimation-duration) ease;
}

.btn {
  background-color: transparent; 
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--annimation-duration) ease;
  margin-right: var(--base-space);
}

.btn:hover,
.logo:hover {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  align-items: center;
}

.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--font-size);
  padding: calc(var(--base-space)*2);
  border-radius: var(--size-border);
  margin-right: calc(var(--base-space)*2);
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

.items {
  width: 60%;
  height: 60%;
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
  scroll-behavior: none;
}

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}

.item__thumbnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
  margin-left: var(--base-space);
}

.item__description {
  margin-left: calc(var(--base-space)*2);
  font-size: var(--font-size);
}

/* For below 768px screen width */
@media screen and (max-width:500px) {
 :root {

   /* size */
  --base-space: 7px;
  --size-button: 30px;
  --size-border: 2px;
  --size-thumbnail: 25px;
  --font-size: 12px;
  }

  .logo {
    width: 70px;
  }

  .imgBtn {
    width: var(--size-button);
    height: var(--size-button);
  }
  
  .colorBtn {
    font-size: var(--font-size);
    padding: var(--base-space);
    border-radius: var(--size-border);
    margin-right: calc(var(--base-space)*2);
  }

  .items {
    width: 70%;
    height: 70%;
  }
  
  .item {
    padding: var(--base-space);
    margin-bottom: var(--base-space);
  }
  
  .item__thumbnail {
    margin-left: var(--base-space);
    width: var(--size-thumbnail);
    height: var(--size-thumbnail);
  }
  
  .item__description {
    margin-left: calc(var(--base-space)*3);
    font-size: var(--font-size);
  }
}